.switch {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    background-color: #e8e8e8;
    transition: .4s;
    z-index: 2;
}

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    width: 24px;
    height: 24px;
    z-index: 1;
    animation: rotate 15s linear infinite;
}

.moon svg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 24px;
    height: 24px;
    fill: #73C0FC;
    animation: tilt 5s linear infinite;
}

.input:checked+.slider {
    background-color: #183153;
}

.input:focus+.slider {
    box-shadow: 0 0 1px #183153;
}

.input:checked+.slider:before {
    transform: translateX(30px);
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}